
body {
	font-family: Arial, sans-serif;
	margin: 2em 3em;
}

#comparator {
	display: inline-block;
	background-color: #CCDDEE;
	padding: 5px 25px;
}

#comparator-graph {
	background-color: #CCDDEE;
	padding: 5px 25px;
}

#comparator-graph div.row {
	margin-bottom: 10px;
}

#comparator-graph div.cell {
	color: #001155;
	display: inline-block;
	line-height: 24px;
	height: 24px;
	text-align: right;
	padding-right: 5px;
	vertical-align: bottom;
	width: 20em;
}

#comparator-graph .com-graph_bar {
	display: inline-block;
	background-color: #005599;
	height: 20px;
	width: 100px;
	border: 2px solid #001155;
}


#comparator select {
	font-size: 1.2em;
	padding: 2px;
}

div.state-box {
	display: inline-block;
	background-color: #EEF;
	margin: 10px;
	padding: 15px;
	text-align: center;
	vertical-align: bottom;
	border: 5px solid black;
}

div.state-box.voted-r {
	border-color: #CC0000;
}

div.state-box.voted-d {
	border-color: #0000CC;
}

div.state-box > p {
    margin: 0 auto;
    white-space: nowrap;
}

div.state-box > p.hidden {
	display: none;
	font-size: 18px;
}

div.state-box:hover > p.electors {
	margin-top: -10px;
}

div.state-box:hover > p.hidden {
	display: block;
	margin-left: -10px;
}

div.state-box:hover > p.label {
	display: none;
}

#tabular {
    border-collapse: collapse;
}

#tabular thead {
	background-color: #DEDEDE;
}

#tabular td,
#tabular th {
	border: 1px solid #BBB;
	padding: 5px 10px;
}

#tabular tbody tr:nth-child(even) {
	background-color: #DDDDEE;
}

#tabular tbody tr:hover {
	background-color: #FFFFCC;
}

#tabular td.cell_centered {
	text-align: center;
}

#viz-buttons {
	background-color: #CCDDEE;
	padding: 5px 25px;
	border: 2px solid #EEE;
}

button {
    padding: .5em .875em;
    background-color: #fff;
    border: 2px solid #000099;
    border-radius: .25em;
    margin: 0;
    vertical-align: middle;
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: normal;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

button[disabled] {
		color: #FFF;
		background-color: #000066;
		border-color: #000099;
}

strong.embiggened {
	font-size: 1.4em;
}

hr {
	height: 2px;
	margin: 50px 0 25px; 
}